.regular_text {
    font-size: 17px;
}

.feature_text {
    font-size: 13px;
}

.screen_title {
    font-size: 34px;
    font-weight: 600;
    margin: 70px 0 0 0;
}

.card_title_text {
    font-size: 17px;
    font-weight: 600;
}

.feature_text {
    font-size: 13px;
    max-width: 256px;
    transition: 0.6s;
}


.footer_logo_text {
    font-family: Moul;
    font-size: 25px;
    color: #fff;
}

.logo_text {
    font-family: Moul;
    font-size: 46px;
    margin-bottom: -16px;
}

.sub_logo_text {
    font-family: Moul;
    font-size: 17px;
}